@import "normalize.css";

:root {
  --color-text: #2c3e50;
  /* --color-high-text: #ff5777;
  --color-tint: #ff8198; */
  --color-background: #fff;
  --font-size: 14px;
  --line-height: 1.5;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Source Han Sans CN";
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: var(--color-background);
}

a {
  color: var(--color-text);
  text-decoration: none;
}
a:hover{
  color: #151515;
}
.clear-fix {
  zoom: 1;
}

.left{
  float: left;
}

.right{
  float: right;
}

p{
  margin: 0;
  padding: 0;
}

ul{
  list-style: none;
}
input{
  border-radius: 2px !important;
}
